# Python
__pycache__/
*.py[cod]
*.pyo
.Python

# Virtual envs
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Netlify
.netlify/

# Local secrets (just in case)
.env
.env.local
